
.icon-clock:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-zoom-in:before { content: '\e802'; } /* '' */
.icon-database:before { content: '\e803'; } /* '' */
.icon-news:before { content: '\e804'; } /* '' */
.icon-link-outline:before { content: '\e805'; } /* '' */
.icon-code-outline:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-export-outline:before { content: '\e808'; } /* '' */
.icon-location-outline:before { content: '\e809'; } /* '' */
.icon-laptop:before { content: '\e80a'; } /* '' */
.icon-brush:before { content: '\e80b'; } /* '' */
.icon-user-add:before { content: '\e80c'; } /* '' */
.icon-chart-outline:before { content: '\e80d'; } /* '' */
.icon-plug:before { content: '\e80e'; } /* '' */
.icon-infinity-outline:before { content: '\e80f'; } /* '' */